<ul class="nav nav-tabs  ">
  <li class="active"><a data-toggle="tab" href="#menu0">Patients</a></li>
  <li><a data-toggle="tab" href="#menu1">Diseases</a></li>
  <li><a data-toggle="tab" href="#menu2">Symptoms</a></li>
   <li><a data-toggle="tab" href="#menu2">Drugs</a></li>
</ul>

<div class="tab-content">
  <div id="menu0" class="tab-pane fade in active">
    <app-patients></app-patients>
  </div>
  <div id="menu1" class="tab-pane fade">
    <app-diseases></app-diseases>
  </div>
  <div id="menu2" class="tab-pane fade">
    <app-symptoms></app-symptoms>
  </div>

  <div id="menu3" class="tab-pane fade">
    <app-drugs></app-drugs>
  </div>
</div>
